*{
  margin: 0;
  padding: 0;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: aquamarine;
}

.title{
  color: #333;
}

.title span{
  background: linear-gradient(to right , #000,#000) no-repeat right bottom;
  background-size: 0 2px;
  transition: background-size 1s;
}

.title span:hover{
  background-position-x: left;
  background-size: 100% 2px;
}